# Notebook environment & troubleshooting

If you see ModuleNotFoundError for 'mysql' or 'mysql.connector', please ensure one of the following:

1. The Jupyter kernel is set to the correct Python interpreter (the workspace venv: `c:\Users\USER\OneDrive\Desktop\RED_BUS\venv\Scripts\python.exe`). Use the kernel selector in VS Code or Jupyter to change the kernel.

2. If you prefer to keep the current kernel, install the required package using the kernel's Python (`pip install mysql-connector-python`). This notebook includes a diagnostic cell that will install the package in the active kernel if needed.

Technical note: This fix adds a small diagnostic cell which prints the current kernel path and tries to import `mysql.connector`. If it cannot import, it installs `mysql-connector-python` in the currently selected Python kernel and retries the import.

In [7]:
# Diagnostic: check notebook kernel environment and MySQL connector
import sys
print('Notebook kernel sys.executable =', sys.executable)
print('Python version =', sys.version)

# Inspect importlib module used (catches local importlib.py that shadows std lib)
import importlib
print('importlib loaded from:', getattr(importlib, '__file__', None))

import pkgutil
loader = pkgutil.find_loader('mysql')
print('pkgutil loader for mysql:', loader)
if loader:
    try:
        import mysql
        print("mysql module __file__:", getattr(mysql, '__file__', None))
    except Exception as e:
        print('Error importing mysql for inspection:', type(e).__name__, e)

# Try real import, install if not present
try:
    import mysql.connector
    print('mysql.connector import OK; module:', mysql.connector)
except Exception as e:
    print('mysql.connector import failed:', type(e).__name__, e)
    print('Installing mysql-connector-python in this kernel via pip')
    import subprocess
    subprocess.check_call([sys.executable, '-m', 'pip', 'install', 'mysql-connector-python'])
    import importlib
    importlib.invalidate_caches()
    try:
        import mysql.connector
        print('Success: imported mysql.connector after install; module:', mysql.connector)
    except Exception as e2:
        print('Still failing after install:', type(e2).__name__, e2)

Notebook kernel sys.executable = c:\Users\USER\anaconda3\python.exe
Python version = 3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
importlib loaded from: c:\Users\USER\anaconda3\Lib\importlib\__init__.py
pkgutil loader for mysql: <_frozen_importlib_external.SourceFileLoader object at 0x000001CDFF5EE2D0>
mysql module __file__: c:\Users\USER\anaconda3\Lib\site-packages\mysql\__init__.py
mysql.connector import OK; module: <module 'mysql.connector' from 'c:\\Users\\USER\\anaconda3\\Lib\\site-packages\\mysql\\connector\\__init__.py'>

In [3]:
import sys, subprocess
print('pip showing mysql-connector-python in kernel:')
subprocess.run([sys.executable, '-m', 'pip', 'show', 'mysql-connector-python'])

pip showing mysql-connector-python in kernel:

CompletedProcess(args=['c:\\Users\\USER\\anaconda3\\python.exe', '-m', 'pip', 'show', 'mysql-connector-python'], returncode=0)

In [4]:
import sys, subprocess
print('Installing mysql-connector-python in this kernel:')
ret = subprocess.run([sys.executable, '-m', 'pip', 'install', '--upgrade', 'mysql-connector-python'])
print('install return code:', ret.returncode)

Installing mysql-connector-python in this kernel:
install return code: 0
install return code: 0

In [8]:
import sys
!{sys.executable} -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (9.5.0)

In [10]:
import pandas as pd
import mysql.connector
import numpy as np

In [11]:

df1= pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\astc.csv")
df2 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\bsrtc_bus.csv")
df3 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\ctu.csv")
df4 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\jksrtc.csv")
df5 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\kaac_bus.csv")
df6 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\ksrtc.csv")
df7=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\ksrtc.csv")
df8 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\nbstc.csv")
df9 = pd.read_csv (r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\pepsu.csv")
df10 = pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\wbstc.csv")

Al_df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],ignore_index=True)

In [12]:
Al_df

,Route Name,Route Link,Bus Name,Bus Type,Departure Time,Duration,Arrival Time,Star Rating,Price,Seats Available
0,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Assam State Transport Corporation (ASTC) - 168821,Bharat Benz A/C Seater (2+2),15:45,04h 45m,20:30,3.8,298.00,8.0
1,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Assam State Transport Corporation (ASTC) - 161055,Volvo AC Seater 2+2,16:15,04h 15m,20:30,4.1,298.00,7.0
2,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,A/C Seater Push Back (2+2),11:30,04h 45m,16:15,4.2,442.46,21.0
3,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Pranjit Travels (Under ASTC),NON A/C Seater (2+1),11:30,05h 15m,16:45,4.1,450.00,6.0
4,Tezpur to Guwahati Bus,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2),13:00,04h 00m,17:00,4.5,388.00,1.0
...,...,...,...,...,...,...,...,...,...,...
4933,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Subhadip Travels(Jagannath),A/C Executive (2+3),14:40,04h 15m,18:55,3.0,300.00,32.0
4934,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Aradhana Bus Service,A/C Seater / Sleeper (2+2),23:20,04h 40m,04:00,3.0,300.00,32.0
4935,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Ankita Paribahan,Non AC Seater (2+3),19:00,04h 00m,23:00,3.0,300.00,32.0
4936,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Aradhana Travels,Non AC Seater (2+3),22:15,05h 10m,03:25,3.0,300.00,32.0
4937,Mandarmani to Kolkata Bus,https://www.redbus.in/bus-tickets/mandarmani-t...,Snemita Paribahan,A/C Seater (2+3),14:30,04h 00m,18:30,3.0,300.00,32.0

In [13]:
Al_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4938 entries, 0 to 4937
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route Name       4938 non-null   object
 1   Route Link       4938 non-null   object
 2   Bus Name         4938 non-null   object
 3   Bus Type         4938 non-null   object
 4   Departure Time   4938 non-null   object
 5   Duration         4938 non-null   object
 6   Arrival Time     4938 non-null   object
 7   Star Rating      4938 non-null   float64
 8   Price            4938 non-null   float64
 9   Seats Available  4938 non-null   float64
dtypes: float64(3), object(7)
memory usage: 385.9+ KB

In [14]:
print(Al_df.dtypes)

Route Name          object
Route Link          object
Bus Name            object
Bus Type            object
Departure Time      object
Duration            object
Arrival Time        object
Star Rating        float64
Price              float64
Seats Available    float64
dtype: object

In [15]:
path =r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\Al_df.csv"
Al_df.to_csv(path, index = False)

In [16]:

# Drop rows where bus_name is null
Al_df.dropna(subset=["Bus Name"],inplace=True)

# Optional: Check the shape of the DataFrame to see how many rows were dropped
print(f"Remaining rows after dropping null bus_name: {Al_df.shape[0]}")

Remaining rows after dropping null bus_name: 4938

In [17]:
# Count of null values in the bus_name column
null_count = Al_df["Bus Name"].isnull().sum()

print(f"Count of null values in 'Bus_name': {null_count}")

Count of null values in 'Bus_name': 0

In [18]:
# Count of null values in the 'Bus Type' column
null_count = Al_df["Bus Type"].isnull().sum()

print(f"Count of null values in 'Bus Type': {null_count}")

Count of null values in 'Bus Type': 0

In [19]:

# Drop rows where bus_type is null
Al_df.dropna(subset=["Bus Type"],inplace=True)

# Optional: Check the shape of the DataFrame to see how many rows were dropped
print(f"Remaining rows after dropping null bus_type: {Al_df.shape[0]}")

Remaining rows after dropping null bus_type: 4938

In [ ]:
# Notes: If the kernel crashes on connect, try the following steps:
# - Use `use_pure=True` to avoid compiled extensions (use_pure=False uses C extension if available) - this often prevents kernel crashes
# - Make sure you're running the correct kernel (select the workspace venv if desired)
# - Use a short `connection_timeout` to avoid long hangs
# - Wrap connection attempts in try/except and close connections/cursors if created
# - If the kernel still crashes, switch to a different kernel (e.g., workspace venv) or run the connector code from a terminal for debugging

# Guarded connection block to avoid kernel crash: small timeout and pure Python driver
import mysql.connector

try:
    connection = mysql.connector.connect(
      host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
      port = 4000,
      user = "bhnPubxKqYFe1KQ.root",
      password = "yQHBpEKWoj7m5UIS",
      database = "redbus",
      connection_timeout = 5,
      use_pure = True
    )
    print('Connected OK, server version:', connection.get_server_version())
    my_cursor = connection.cursor()
    my_cursor.close()
    connection.close()
except Exception as exc:
    import traceback
    print('Connection attempt failed:', type(exc).__name__, exc)
    traceback.print_exc()

Connected OK, server version: (8, 0, 11)

C:\Users\USER\AppData\Local\Temp\ipykernel_2140\4229576469.py:14: DeprecationWarning: Call to deprecated function get_server_version. Reason:
    The property counterpart 'server_version' should be used instead.

  print('Connected OK, server version:', connection.get_server_version())

In [2]:
# Helper: safer connection helper and fallback behavior
import mysql.connector
from mysql.connector import Error

def get_connection(use_pure=True, timeout=5):
    try:
        return mysql.connector.connect(
            host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
            port=4000,
            user="bhnPubxKqYFe1KQ.root",
            password="yQHBpEKWoj7m5UIS",
            database="redbus",
            connection_timeout=timeout,
            use_pure=use_pure,
        )
    except Error as e:
        # Re-raise to caller; this sets a common type for handling
        raise

# Usage: try pure first, if it fails, try compiled driver (use_pure=False)
try:
    conn = get_connection(use_pure=True)
    print('Connected using pure driver; server version:', conn.server_version)
    conn.close()
except Exception as e:
    print('Pure driver failed; trying compiled driver: ', type(e).__name__, e)
    try:
        conn = get_connection(use_pure=False)
        print('Connected using compiled driver; server version:', conn.server_version)
        conn.close()
    except Exception as e2:
        print('Both drivers failed:', type(e2).__name__, e2)

Connected using pure driver; server version: (8, 0, 11)

In [2]:
# Create table safely: open a connection and cursor in the cell (use helper)
# This ensures my_cursor is defined and closed properly

# Use existing helper `get_connection` if defined; otherwise create a connection directly
try:
    conn = get_connection()
except NameError:
    # Fallback: if get_connection isn't defined, create connection inline
    import mysql.connector
    conn = mysql.connector.connect(
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        port=4000,
        user="bhnPubxKqYFe1KQ.root",
        password="yQHBpEKWoj7m5UIS",
        database="redbus",
        connection_timeout=5,
        use_pure=True,
    )

cursor = None
try:
    cursor = conn.cursor()
    create_sql = """CREATE TABLE IF NOT EXISTS bus_details(
                      ID INT AUTO_INCREMENT PRIMARY KEY,
                      Route_name VARCHAR(255) NULL,
                      Route_link VARCHAR(255) NULL,
                      Bus_name VARCHAR(255) NOT NULL,
                      Bus_type VARCHAR(255) NOT NULL,
                      Start_time VARCHAR(255) NOT NULL,
                      Total_duration VARCHAR(255) NOT NULL,
                      End_time VARCHAR(255) NOT NULL,
                      Ratings Float NULL,
                      Price FLOAT NULL,
                      Seats_Available VARCHAR(255) NOT NULL
                      )"""
    cursor.execute(create_sql)
    conn.commit()
    print("Table Created successfully")
except Exception as e:
    import traceback
    print('Failed to create table:', type(e).__name__, e)
    traceback.print_exc()
finally:
    if cursor:
        try:
            cursor.close()
        except Exception:
            pass
    if conn:
        try:
            conn.close()
        except Exception:
            pass

Table Created successfully

In [10]:
# SQL query to insert data into bus_details table (idempotent insert; avoids duplicates)
# This version checks pairs (Route_name, Route_link, Bus_name) in DB and avoids inserting rows that already exist.

# Expected DB columns for insertion (order matters)
expected_cols = [
    'Route_name',
    'Route_link',
    'Bus_name',
    'Bus_type',
    'Start_time',
    'Total_duration',
    'End_time',
    'Ratings',
    'Price',
    'Seats_Available'
]
required_cols = ['Bus_name', 'Bus_type', 'Start_time', 'Total_duration', 'End_time', 'Seats_Available']

synonyms = {
    'Start_time': ['departure time', 'departure_time', 'departure', 'depature_time', 'depature time', 'start time'],
    'Total_duration': ['duration', 'time taken', 'total duration', 'journey duration'],
    'End_time': ['arrival time', 'arrival_time', 'arrival', 'end time'],
    'Ratings': ['star rating', 'rating', 'ratings', 'star_rating'],
    'Seats_Available': ['seats available', 'seats_available', 'seats', 'available seats']
}

# Ensure df exists
try:
    Al_df
    print('Al_df found in notebook')
except NameError:
    import os
    path = r"C:\Users\USER\OneDrive\Desktop\red bus\Redbus_data\Redbus_data\Al_df.csv"
    if os.path.exists(path):
        import pandas as pd
        Al_df = pd.read_csv(path)
        print('Loaded Al_df from', path)
    else:
        raise NameError('Al_df not found and fallback CSV missing: ' + path)

print('Al_df columns:', list(Al_df.columns)[:50])
import re
import pandas as pd
import numpy as np

def normalize(name):
    return re.sub('[^0-9a-z]', '', name.lower()) if name else ''

# Build column mapping
col_map = {}
for exp in expected_cols:
    normalized_expected = normalize(exp)
    found = None
    for col in Al_df.columns:
        if normalize(col) == normalized_expected:
            found = col
            break
    if not found:
        for syn in synonyms.get(exp, []):
            syn_norm = normalize(syn)
            for col in Al_df.columns:
                if normalize(col) == syn_norm:
                    found = col
                    break
            if found:
                break
    if not found:
        for col in Al_df.columns:
            if normalized_expected in normalize(col):
                found = col
                break
    col_map[exp] = found

print('Column mapping (expected -> actual):')
for exp in expected_cols:
    print(exp, '->', col_map.get(exp))

# Construct list of insertion rows
rows = []
key_rows = []  # keys to check against DB duplicates: (Route_name, Route_link, Bus_name)
for _, r in Al_df.iterrows():
    row = []
    for exp in expected_cols:
        mapped = col_map.get(exp)
        val = None
        if mapped is not None:
            val = r.get(mapped, None)
            if isinstance(val, float) and np.isnan(val):
                val = None
        if exp in required_cols and (val is None or (isinstance(val, str) and val.strip() == '')):
            val = ''
        row.append(val)
    rows.append(tuple(row))
    key_rows.append((row[0], row[1], row[2]))

print('Prepared', len(rows), 'rows (keys to check for duplicates:', len(key_rows), ')')

# Insert into DB idempotently
try:
    conn = get_connection()
except NameError:
    import mysql.connector
    conn = mysql.connector.connect(
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        port=4000,
        user="bhnPubxKqYFe1KQ.root",
        password="yQHBpEKWoj7m5UIS",
        database="redbus",
        connection_timeout=5,
        use_pure=True,
    )

cursor = None
try:
    cursor = conn.cursor()

    # Fetch existing keys from DB
    cursor.execute('SELECT Route_name, Route_link, Bus_name FROM bus_details')
    existing_keys = set(cursor.fetchall())
    print('Existing keys in DB:', len(existing_keys))

    # Filter rows that are new
    new_rows = []
    for k, row in zip(key_rows, rows):
        if k not in existing_keys:
            new_rows.append(row)

    print('New rows to insert (not present in DB):', len(new_rows))

    if new_rows:
        # Insert in batches
        placeholders = ', '.join(['%s'] * len(expected_cols))
        insert_sql = f"INSERT INTO bus_details({', '.join(expected_cols)}) VALUES({placeholders})"
        from math import ceil
        batch_size = 500
        total_inserted = 0
        n_batches = ceil(len(new_rows) / batch_size)
        for i in range(n_batches):
            batch = new_rows[i*batch_size:(i+1)*batch_size]
            cursor.executemany(insert_sql, batch)
            conn.commit()
            total_inserted += len(batch)
            print(f'Inserted batch {i+1}/{n_batches} ({len(batch)} rows) - total so far {total_inserted}')

        print('Total rows inserted:', total_inserted)
    else:
        print('No new rows to insert (dataset already in DB)')

except Exception as e:
    import traceback
    print('Failed to insert data idempotently:', type(e).__name__, e)
    traceback.print_exc()
finally:
    if cursor:
        try:
            cursor.close()
        except Exception:
            pass
    if conn:
        try:
            conn.close()
        except Exception:
            pass

Al_df found in notebook
Al_df columns: ['Route Name', 'Route Link', 'Bus Name', 'Bus Type', 'Departure Time', 'Duration', 'Arrival Time', 'Star Rating', 'Price', 'Seats Available']
Column mapping (expected -> actual):
Route_name -> Route Name
Route_link -> Route Link
Bus_name -> Bus Name
Bus_type -> Bus Type
Start_time -> Departure Time
Total_duration -> Duration
End_time -> Arrival Time
Ratings -> Star Rating
Price -> Price
Seats_Available -> Seats Available
Prepared 4938 rows (keys to check for duplicates: 4938 )
Prepared 4938 rows (keys to check for duplicates: 4938 )
Existing keys in DB: 2575
New rows to insert (not present in DB): 0
No new rows to insert (dataset already in DB)
Existing keys in DB: 2575
New rows to insert (not present in DB): 0
No new rows to insert (dataset already in DB)

In [7]:
# Verification: count rows and show a few sample rows from bus_details
try:
    conn = get_connection()
except NameError:
    import mysql.connector
    conn = mysql.connector.connect(
        host="gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
        port=4000,
        user="bhnPubxKqYFe1KQ.root",
        password="yQHBpEKWoj7m5UIS",
        database="redbus",
        connection_timeout=5,
        use_pure=True,
    )

try:
    cur = conn.cursor()
    cur.execute('SELECT COUNT(*) FROM bus_details')
    count = cur.fetchone()[0]
    print('bus_details row count:', count)
    cur.execute('SELECT Route_name, Bus_name, Start_time, End_time, Price FROM bus_details LIMIT 5')
    rows = cur.fetchall()
    print('\nSample rows:')
    for r in rows:
        print(r)
except Exception as e:
    import traceback
    print('Verification failed:', type(e).__name__, e)
    traceback.print_exc()
finally:
    try:
        cur.close()
    except Exception:
        pass
    try:
        conn.close()
    except Exception:
        pass

bus_details row count: 9876

Sample rows:
('Tezpur to Guwahati Bus', 'Assam State Transport Corporation (ASTC) - 168821', '', '', 298.0)
('Tezpur to Guwahati Bus', 'Assam State Transport Corporation (ASTC) - 161055', '', '', 298.0)
('Tezpur to Guwahati Bus', 'Chartered Bus - ASTC', '', '', 442.46)
('Tezpur to Guwahati Bus', 'Pranjit Travels (Under ASTC)', '', '', 450.0)
('Tezpur to Guwahati Bus', 'Chartered Bus - ASTC', '', '', 388.0)